.carousel{margin:10px 0 30px; overflow: hidden; padding: 0 20px;
    h2{margin-bottom: 10px;}
    img{border-radius: 12px; overflow: hidden; height: 100%;}
}

.swiper{overflow: visible;}
.swiperSlide{height: auto;}